<form role="form" method="post" action="" id="masterStartStop">
	<div class="alert alert-<tag:process.class />">
		<span>The process is currently: </span><span class="label label-<tag:process.class />"><tag:process.state /></span>
		<br />
		<span><tag:process.text /></span>
		<br />
		<br />
		<button type="submit" class="btn btn-default" <tag:process.start />><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start</button>
		<button type="submit" class="btn btn-default" <tag:process.stop />><span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop</button>
	</div>
</form>