<form role="form" method="post" id="addProcess">
	<div class="form-group">
		<label for="process">Process:</label>
		<select name="process" class="form-control" id="process">
			<option value="">Choose a process</option>
			<option value="buildCache">Cache</option>
			<option value="yts">YTS</option>
		</select>
	</div>
	<div id="processOptions">
	</div>
	<div class="form-group">
		<label for="wait">Wait for other process to finish:</label>
		<select name="wait" class="form-control" id="wait">
			<loop:waitFor>
				<option value="<tag:waitFor[].id />">
					<tag:waitFor[].value />
				</option>
			</loop:waitFor>
		</select>
	</div>
	<div class="form-group">
		<label for="repeat">Repeat process:</label>
		<br />
		<input type="radio" name="repeat" id="repeatT" value="true" required="true"> Yes
		<br />
		<input type="radio" name="repeat" id="repeatF" value="false" required="true" checked="true"> No
	</div>
	<div class="form-group">
		<label for="flow">Repeat flow:</label>
		<select name="flow" class="form-control" id="flow">
			<option value=""><em>None</em>
			</option>
			<option value="hour">Hourly</option>
			<option value="day">Daily</option>
			<option value="week">Weekly</option>
			<option value="month">Monthly</option>
		</select>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>